# DISABLE ALL AUTO-FORMATTING
# This EditorConfig will override any IDE auto-formatting
root = true

[*]
# DISABLE EVERYTHING - NO AUTO FORMATTING
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
end_of_line = unset
charset = unset

[*.js]
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

[*.jsx]
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

[*.ts]
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

[*.tsx]
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

[*.css]
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

[*.scss]
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

[*.json]
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset